{% extends 'base.html' %}

{% block body %}

<h3>{{ the_title }}</h3>
<meta charset="UTF-8">
<title>rfvrvvv</title>
<header>
    <ul>
        <li><a href="/constructive_calculation/metal_constructions/form_moment_perpendicular_to_the_seam">Расчет
            сварного соединения с угловыми швами на действие момента в плоскости, перпендикулярной плоскости
            расположения шва.</a></li>
        <li><a href="/constructive_calculation/metal_constructions/form_moment_in_the_plane_of_the_seam">Расчет сварного
            соединения с угловыми швами на действие момента в плоскости расположения швов.</a></li>
        <li><a href="/constructive_calculation/metal_constructions/form_simultaneous_longitudinal_and_perpendicular_forces">Расчет сварного соединения с угловыми швами на одновременное действие продольной и поперечной сил.</a></li>
        ...
    </ul>
</header>
<body>

</body>

{% endblock %}
