{% extends 'base.html' %}
{% block body %}
<div class="container w-50"><h4 align="center">Таблицы из СП 16.13330.2017</h4>
    <p></p>
    <a id="tab_v3"></a><h5 align="center">Таблица В.3 - Нормативные и расчетные сопротивления при растяжении, сжатии и
        изгибе листового, широкополосного универсального, сортового проката и труб</h5>
    <img src="/static/table_v3.jpg" class="img-fluid" style="width: 720px" alt="Responsive image">
    <img src="/static/table_v3_2.jpg" class="img-fluid" style="width: 720px" alt="Responsive image">
    <p><b>Примечание</b>:
        <br>1. * За нормативное сопротивление приняты гарантированные значения предела текучести и временного сопротивления,
        приводимые в НД. В тех случаях, когда эти значения в НД приведены только в одной системе единиц - \(кгс/мм^2\),
        нормативные сопротивления, \(Н/мм^2\), следует вычислять умножением соответствующих значений на 9,81 с
        округлением до 5 \(Н/мм^2\).
        <br>2. ** Значения расчетных сопротивлений получены делением нормативных сопротивлений на коэффициенты надежности по
        материалу, определенные в соответствии с таблицей 3, с округлением до 5 \(Н/мм^2\). В числителе приведены
        значения
        расчетных сопротивлений проката по нормативной документации, в которой используется статистическая процедура
        контроля свойств проката (\(\gamma_m =1,025\)); в знаменателе - расчетное сопротивление остального проката при
        \(\gamma_m =1,050\).</p>
    <p></p>
    <p></p>
    <a id="tab_g1"></a><h5 align="center">Таблица Г.1 - Материалы для сварки, соответствующие стали</h5>
    <img src="/static/table_g1_1.jpg" class="img-fluid" style="width: 720px" alt="Responsive image">
    <img src="/static/table_g1_2.jpg" class="img-fluid" style="width: 720px" alt="Responsive image">
    <p><b>Примечание</b>:
        <br>1. * Флюс АН-60 и электроды типа Э42, Э46, Э50 следует применять для конструкций групп 2, 3 при расчетных
        температурах \(t \ge -45°С\).
        <br>2. ** Не применять в сочетании с флюсом АН-43.
        <br>3. *** Для флюса АН-348-А требуется дополнительный контроль механических свойств металла шва при сварке
        соединений элементов всех толщин при расчетных температурах \(t < -45°С\) и толщин свыше 32 мм - при расчетных
        температурах \(t \ge -45°С\).
        <br>4. \(*^4\) Керамический флюс ПФК-56С по техническим условиям для автоматической сварки стыковых соединений
        конструкций
        пролетных строений стальных мостов.
        <br>5. \(*^5\) Керамический флюс сварочный агломерированный марки UF-02 и марки UF-03 по соответствующим
        техническим
        условиям.
        <br>6. При соответствующем технико-экономическом обосновании для сварки конструкций используются
        сварочные материалы (проволоки, флюсы, защитные газы), не указанные в настоящей таблице. При этом механические
        свойства металла шва, выполняемого с их применением, должны быть не ниже свойств, обеспечиваемых применением
        материалов, приведенных в настоящей таблице.</p>
    <p></p>
    <p></p>
    <a id="tab_g2"></a><h5 align="center">Таблица Г.2 - Нормативные и расчетные сопротивления металла швов сварных
        соединений с угловыми
        швами</h5>
    <img src="/static/table_g2.jpg" class="img-fluid" style="width: 720px" alt="Responsive image">
    <p></p>
    <p></p>
    <a id="tab_39"></a><h5 align="center">Таблица №39</h5>
    <img src="/static/table_39.jpg" class="img-fluid" style="width: 720px" alt="Responsive image">
    <p></p>
    <p></p>
    <a id="tab_38"></a><h5 align="center">Таблица №38</h5>
    <img src="/static/table_38.jpg" class="img-fluid" style="width: 720px" alt="Responsive image">
    <p><b>Примечания</b>:
        <br>* При условии \(t \ge 0,6T\), где \(t\) - толщина более тонкого из свариваемых элементов.
        <br>1. В конструкциях из стали с пределом текучести свыше \(590 Н/мм^2\) минимальный катет швов следует
        принимать по технологическим регламентам на изготовление.
        <br>2. Для всех сталей при толщине элементов более 40 мм минимальный катет сварного шва \(k_f\) следует
        принимать по расчету.
        <br>3. При толщине более тонкого из свариваемых элементов \(t \le 0,6T\) , минимальный катет сварного шва
        \(k_f\) следует принимать по расчету, но не более \(1,2t\).</p>
    <p></p>
    <p></p>
    <a id="tab_1"> </a><h5 align="center">Таблица №1</h5>
    <img src="/static/table_1.jpg" class="img-fluid" style="width: 710px" alt="Responsive image">
    <img src="/static/table_1_2.jpg" class="img-fluid" style="width: 710px" alt="Responsive image">
    <img src="/static/table_1_3.jpg" class="img-fluid" style="width: 710px" alt="Responsive image">
    <p><b>Примечания</b>:
        <br>1. Коэффициенты \(\gamma_c < 1\) при расчёте совместно учитывать не следует.
        <br>2. При расчёте на прочность по сечению, ослабленному отверстиями для болтов, коэффициенты
        условий работы, приведенные в позициях 6 и 1;6 и 2;6 и З следует учитывать совместно.
        <br>3. При расчёте опорных плит коэффициенты, приведенные в позициях 9 и 2, 9 и 3, следует
        учитывать совместно.
        <br>4. Коэффициенты для элементов, приведенных в позициях 1 и 2, следует учитывать также при
        расчёте их соединений.
        <br>5. В случаях, не оговоренных в настоящей таблице, в формулах следует принимать \(\gamma_c=1\).</p>
</div>
{% endblock %}